Repository vladimiry/ElectronMail: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

update @ProtonMail web clients
  patches/protonmail/after_node_modules_installed/common-6.patch
  patches/protonmail/after_node_modules_installed/meta.json
  patches/protonmail/app-account.patch
  patches/protonmail/app-calendar.patch
  patches/protonmail/app-drive-cut-foundation-search.patch
  patches/protonmail/app-drive.patch
  patches/protonmail/app-mail-disable-enc-search-use.patch
  patches/protonmail/app-mail.patch
  patches/protonmail/app-vpn-settings.patch
  patches/protonmail/common-21.patch
  patches/protonmail/common-22.patch
  patches/protonmail/constants-16.patch
  patches/protonmail/constants-17.patch
  patches/protonmail/drawer-app-10.patch
  patches/protonmail/drawer-app-7.patch
  patches/protonmail/drawer-app-8.patch
  patches/protonmail/link-handler-13.patch
  patches/protonmail/meta.json
  patches/protonmail/metrics-4.patch
  patches/protonmail/metrics-7.patch
  patches/protonmail/metrics-8.patch
  patches/protonmail/metrics-9.patch
  patches/protonmail/pack-10.patch
  patches/protonmail/pack-9.patch
  patches/protonmail/product-link-8.patch
  patches/protonmail/sentry-30.patch
  patches/protonmail/sentry-31.patch
  patches/protonmail/session-storage-13.patch
  patches/protonmail/session-storage-14.patch
  patches/protonmail/upsell-5.patch
  patches/protonmail/url-13.patch
  src/e2e/lib/init-app.ts
  src/electron-preload/webview/primary/lib/provider-api/standart-setup-internals/internals.ts
  src/electron-preload/webview/primary/lib/provider-api/standart-setup-internals/model.ts
  src/shared/const/proton-apps.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

update dependencies
  .github/workflows/main.yml
  dprint.json
  eslint.config.js
  package.json
  patches/app-builder-lib.patch
  patches/webpack.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/ci/github/prepare-native-deps-docker.sh
  src/electron-main/web-contents.ts
  src/electron-preload/webview/primary/lib/provider-api/standart-setup-internals/internals.ts
  src/electron-preload/webview/primary/lib/provider-api/standart-setup-internals/model.ts
  src/electron-preload/webview/primary/mail/provider-api/notifications.ts
  src/electron-preload/webview/primary/mail/provider-api/rate-limiting.ts
  src/shared/const/index.ts
  src/web/browser-window/tsconfig.json
  webpack-configs/web/browser-window.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

respect "Conversation grouping" flag when deriving unreads for Proton UI
  src/electron-preload/webview/lib/rest-model/response-entity/event.ts
  src/electron-preload/webview/primary/mail/api/index.ts
  src/electron-preload/webview/primary/mail/provider-api/index.ts
  src/electron-preload/webview/primary/mail/provider-api/model.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

update @ProtonMail web clients, closes #790
  package.json
  patches/protonmail/app-drive-cut-foundation-search.patch
  patches/protonmail/app-mail-disable-enc-search-use.patch
  patches/protonmail/app-mail.patch
  patches/protonmail/common-23.patch
  patches/protonmail/common-24.patch
  patches/protonmail/drawer-app-7.patch
  patches/protonmail/logger-1.patch
  patches/protonmail/meta.json
  patches/protonmail/metrics-7.patch
  patches/protonmail/sentry-32.patch
  src/shared/const/proton-apps.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

update dependencies
  dprint.json
  package.json
  pnpm-lock.yaml
Due: dprint fmt

pin "snapcraft" to "8.x/stable"
  scripts/ci/github/package-app-linux.sh
Due: none

update Visual Studio path for "windows-11-arm" image
  scripts/ci/github/package-app.include.ps1
  scripts/ci/github/package-app.ps1
Due: none

test windows-11-arm
  .github/workflows/main.yml
Due: dprint fmt

Path conditions:
  pnpm run lint:ts:base:eslint --fix: any of: **/*.{js,ts}
  format-imports: any of: **/*.{js,ts}
  dprint fmt: any of: **/*.{js,ts,json,yaml,yml}
