Repository vladimiry/ElectronMail: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

.lintstagedrc.json:

{
  "**/*.{js,ts}": [
    "pnpm run lint:ts:base:eslint --fix",
    "format-imports"
  ],
  "**/*.{js,ts,json,yaml,yml}": [
    "dprint fmt"
  ]
}

update @ProtonMail web clients
  patches/protonmail/app-calendar.patch
  patches/protonmail/app-drive.patch
  patches/protonmail/app-mail.patch
  patches/protonmail/common-15.patch
  patches/protonmail/common-16.patch
  patches/protonmail/link-handler-10.patch
  patches/protonmail/meta.json
  patches/protonmail/sentry-23.patch
  patches/protonmail/session-storage-9.patch
  src/shared/const/proton-apps.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

enable extra measure for removing "prebuilds"
  electron-builder.yml
  package.json
  scripts/electron-builder/hook-after-pack.ts
  scripts/electron-builder/hooks/afterPack/index.ts
  scripts/electron-builder/tsconfig.json
  webpack-configs/electron-builder-hooks.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

treat "/inbox" as "/" pathname when resolving file system resource
  src/electron-main/protocol.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

testing github actions
  actionstest
Due: none

update @ProtonMail web clients
  .gitignore
  .vscode/settings.json
  patches/protonmail/app-account.patch
  patches/protonmail/app-calendar.patch
  patches/protonmail/app-drive.patch
  patches/protonmail/app-mail.patch
  patches/protonmail/app-vpn-settings.patch
  patches/protonmail/common-15.patch
  patches/protonmail/common-16.patch
  patches/protonmail/common-17.patch
  patches/protonmail/constants-13.patch
  patches/protonmail/constants-14.patch
  patches/protonmail/drawer-app-2.patch
  patches/protonmail/drawer-app.patch
  patches/protonmail/meta.json
  patches/protonmail/metrics-1.patch
  patches/protonmail/pack-1.patch
  patches/protonmail/pack-2.patch
  patches/protonmail/pack-api-arg-5.patch
  patches/protonmail/pack-webpack-11.patch
  patches/protonmail/pack-webpack-12.patch
  patches/protonmail/product-link-6.patch
  patches/protonmail/sentry-21.patch
  patches/protonmail/sentry-22.patch
  patches/protonmail/sentry-24.patch
  patches/protonmail/session-storage-10.patch
  patches/protonmail/session-storage-8.patch
  patches/protonmail/upsell.patch
  patches/protonmail/url-9.patch
  scripts/prepare-webclient/dts-global-ts-env.ts
  scripts/prepare-webclient/dts-proton-message.ts
  scripts/prepare-webclient/index.ts
  scripts/prepare-webclient/webclients.ts
  src/electron-main/protocol.ts
  src/electron-preload/webview/primary/common/provider-api/const.ts
  src/electron-preload/webview/primary/mail/provider-api/index.ts
  src/electron-preload/webview/primary/mail/provider-api/internals.ts
  src/electron-preload/webview/primary/mail/provider-api/model.ts
  src/shared/const/proton-apps.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

update @ProtonMail web clients: make "ProtonDriveClient" use right "baseUrl" value
  package.json
  patches/protonmail/after_node_modules_installed/common-1.patch
  patches/protonmail/after_node_modules_installed/meta.json
  scripts/prepare-webclient/webclients.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

update @ProtonMail web clients: fix URLs in /drive/blocks and /drive/shares/* response
  patches/protonmail/url-9.patch
Due: none

fix "yellow dot" tray indicator logic (now not reacting to "unloaded" accounts)
  src/web/browser-window/app/store/selectors/accounts.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

improve native modules compatibility with old systems, closes #735
  .github/workflows/main.yml
  package.json
  patches/keytar.patch
  patches/msgpackr-extract.patch
  patches/sodium-native.patch
  pnpm-lock.yaml
  scripts/ci/github/package-app-linux.sh
  scripts/ci/github/package-app-osx.sh
  scripts/ci/github/package-app.include.ps1
  scripts/ci/github/package-app.ps1
  scripts/ci/github/prepare-native-deps-docker.sh
  scripts/ci/github/system-setup-linux.sh
  scripts/lib.ts
  scripts/prepare-native-deps.ts
  src/e2e/lib/init-app.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

code-based search: include more typescript libs in "monaco-editor" env
  scripts/prepare-webclient/dts-global-ts-env.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

get back "electron-mail" executable name, closes #736
  electron-builder.yml
  scripts/electron-builder/build-appimage.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

make "block non-'Proton API' requests" feature opt-out, #312
  patches/protonmail/url-9.patch
  src/e2e/lib/workflow.ts
  src/electron-main/api/endpoints-builders/account.ts
  src/electron-main/storage-upgrade.ts
  src/electron-main/web-request/const.ts
  src/electron-main/web-request/index.ts
  src/shared/model/account.ts
  src/shared/model/container.ts
  src/web/browser-window/app/_options/account-edit.component.html
  src/web/browser-window/app/_options/account-edit.component.ts
  src/web/browser-window/tsconfig.json
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

code-based search: fix "interrupted" error and improve error message
  src/electron-main/api/endpoints-builders/database/search/service.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

update @ProtonMail web clients: make storage-related upsell ads suppressible, closes #734
  patches/protonmail/upsell.patch
Due: none

update dependencies
  package.json
  patches/pureimage.patch
  pnpm-lock.yaml
  src/electron-main/api/endpoints-builders/tray-icon/lib.ts
  tsconfig.json
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

update @ProtonMail web clients
  patches/protonmail/meta.json
  src/shared/const/proton-apps.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

github actions: reuse common steps using YAML anchors
  .github/workflows/main.yml
Due: dprint fmt

allow multiple app instances, #562
  package.json
  src/electron-main/bootstrap/app-ready.ts
  src/electron-main/bootstrap/init.ts
  src/shared/const/index.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

update @electron 38.0.0 => 38.2.1
  package.json
  pnpm-lock.yaml
Due: dprint fmt

fix restoring "maximized" state issue caused by @electron 37=>38 update
  src/electron-main/window/main.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

enable arm64 windows + linux build
  .github/workflows/main.yml
  patches/keytar.patch
  patches/msgpackr-extract.patch
  patches/sodium-native.patch
  pnpm-lock.yaml
  scripts/ci/github/package-app-linux.sh
  scripts/ci/github/package-app.include.ps1
  scripts/ci/github/package-app.ps1
  scripts/ci/github/prepare-native-deps-docker.sh
  scripts/prepare-native-deps.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

Remove `makedeb`/MPR from README.md
  README.md
Due: none

remove makedeb/MPR from readme, #756 [skip ci]
  README.md
Due: none

update dependencies
  dprint.json
  package.json
  patches/@ghostery__url-parser.patch
  pnpm-lock.yaml
  scripts/electron-builder/tsconfig.json
  src/@types/index.d.ts
  src/shared/util/ngrx.ts
  src/web/browser-window/@types/ngx-bootstrap-fix.d.ts
  src/web/browser-window/app/_options/accounts-list.component.html
  src/web/browser-window/app/_options/accounts-list.component.ts
  tsconfig.json
  webpack-configs/web/browser-window.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

pacman: replace "http-parser" dependency with "llhttp"
  patches/app-builder-lib.patch
  pnpm-lock.yaml
Due: dprint fmt

update @ProtonMail web clients
  patches/protonmail/after_node_modules_installed/common-3.patch
  patches/protonmail/after_node_modules_installed/common-4.patch
  patches/protonmail/after_node_modules_installed/meta.json
  patches/protonmail/app-account.patch
  patches/protonmail/app-calendar.patch
  patches/protonmail/app-drive.patch
  patches/protonmail/app-mail.patch
  patches/protonmail/app-vpn-settings.patch
  patches/protonmail/common-19.patch
  patches/protonmail/constants-15.patch
  patches/protonmail/drawer-app-2.patch
  patches/protonmail/drawer-app-4.patch
  patches/protonmail/meta.json
  patches/protonmail/metrics-2.patch
  patches/protonmail/pack-1-2.patch
  patches/protonmail/pack-3.patch
  patches/protonmail/pack-5.patch
  patches/protonmail/pack-6.patch
  patches/protonmail/sentry-26.patch
  patches/protonmail/session-storage-11.patch
  patches/protonmail/session-storage-12.patch
  patches/protonmail/upsell-2.patch
  scripts/prepare-webclient/webclients.ts
  src/electron-main/api/endpoints-builders/proton-session.ts
  src/electron-preload/webview/primary/mail/api/index.ts
  src/shared/const/proton-apps.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

enable arm64 windows + linux build at GH CI, closes #448
  .github/workflows/main.yml
  patches/keytar.patch
  patches/msgpackr-extract.patch
  patches/sodium-native.patch
  pnpm-lock.yaml
  scripts/ci/github/package-app-linux.sh
  scripts/ci/github/package-app.include.ps1
  scripts/ci/github/package-app.ps1
  scripts/ci/github/prepare-native-deps-docker.sh
  scripts/prepare-native-deps.ts
  scripts/transfer/ffsend.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

update dependencies
  .github/workflows/main.yml
  dprint.json
  package.json
  patches/@ghostery__url-parser.patch
  patches/@ts-nameof__transforms-ts.patch
  patches/app-builder-lib.patch
  patches/class-transformer-validator.patch
  patches/monaco-editor@0.36.1.patch
  patches/os-locale.patch
  patches/tough-cookie-web-storage-store.patch
  patches/ts-node.patch
  pnpm-lock.yaml
  scripts/electron-builder/tsconfig.json
  src/@types/index.d.ts
  src/electron-main/api/endpoints-builders/general.ts
  src/electron-main/web-request/index.ts
  src/electron-main/window/about.ts
  src/shared/api/main-process/index.ts
  src/shared/const/webpack.ts
  src/shared/util/ngrx.ts
  src/web/browser-window/@types/ngx-bootstrap-fix.d.ts
  src/web/browser-window/app/_accounts/accounts.component.html
  src/web/browser-window/app/_core/navigation.effects.ts
  src/web/browser-window/app/_options/accounts-list.component.html
  src/web/browser-window/app/_options/accounts-list.component.ts
  src/web/browser-window/app/components/abstract-monaco-editor.directive.ts
  tsconfig.json
  webpack-configs/web/browser-window.ts
  webpack-configs/web/lib.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

update @ProtonMail web clients
  patches/protonmail/after_node_modules_installed/common-3.patch
  patches/protonmail/after_node_modules_installed/common-4.patch
  patches/protonmail/after_node_modules_installed/meta.json
  patches/protonmail/app-account.patch
  patches/protonmail/app-calendar.patch
  patches/protonmail/app-drive.patch
  patches/protonmail/app-mail.patch
  patches/protonmail/app-vpn-settings.patch
  patches/protonmail/common-19.patch
  patches/protonmail/constants-15.patch
  patches/protonmail/drawer-app-2.patch
  patches/protonmail/drawer-app-4.patch
  patches/protonmail/meta.json
  patches/protonmail/metrics-2.patch
  patches/protonmail/pack-1-2.patch
  patches/protonmail/pack-3.patch
  patches/protonmail/pack-6.patch
  patches/protonmail/sentry-26.patch
  patches/protonmail/session-storage-12.patch
  patches/protonmail/upsell-2.patch
  patches/protonmail/url-10.patch
  scripts/prepare-webclient/webclients.ts
  src/e2e/lib/workflow.ts
  src/electron-main/api/endpoints-builders/proton-session.ts
  src/electron-preload/webview/primary/mail/api/db-patch/bootstrap.ts
  src/electron-preload/webview/primary/mail/api/index.ts
  src/electron-preload/webview/primary/mail/provider-api/index.ts
  src/electron-preload/webview/primary/mail/provider-api/model.ts
  src/shared/const/proton-apps.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

allow unique keytar's "accountName" value, #562
  package.json
  src/electron-main/keytar.ts
  src/shared/const/index.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

apply hack to force dropdown menu positioning
  src/web/browser-window/app/_accounts/accounts.component.html
  src/web/browser-window/app/_accounts/accounts.component.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

fix reading "unread" value from "/mail/v4/messages/count" response
  src/electron-preload/webview/primary/mail/provider-api/index.ts
Due: pnpm run lint:ts:base:eslint --fix, format-imports, dprint fmt

update dependencies
  package.json
  patches/electron.patch
  pnpm-lock.yaml
Due: dprint fmt
